<h1>
  {{title}}
</h1>
<button md-button md-raised-button color="primary">primary</button>
<button md-button md-raised-button color="accent">accent</button>
<button md-button md-raised-button color="warn">warn</button>

<br>
<br>

<md-input-container>
  <input mdInput placeholder="Favorite food" value="">
</md-input-container>

<br>
<br>

<md-slide-toggle>Slide me!</md-slide-toggle>

<br>
<br>

<md-radio-group>
  <md-radio-button value="1">Option 1</md-radio-button>
  <md-radio-button value="2">Option 2</md-radio-button>
</md-radio-group>